body {
    background-color: #394867;
    font-family: monospace;
    font-size: 18px;
    text-align: center;
}
 
.contenidoCabecera {
    background-color: #F1F6F9;
    border: 2px solid #212A3E;
    border-radius: 10px;
    width: 100%;
    height: 50px;
    text-align: center;
    padding-top: 20px;
    font-weight: bold;
}

.cuadro-piePagina {
    background-color: #9BA4B5;
    width: 98.5%;
    height: 5%;
    bottom: 0;
    text-align: center;
    position: absolute;
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: 12px;
}

#inputDireccion {
    border-radius: 5px;
}

#inputMascara {
    width: 100px;
    border-radius: 5px;
}

#inputDireccion {
    width: 300px;
    border-radius: 5px;
}

#cantidadSubredes {
    border-radius: 5px;
}

#botonDefinir {
    border-radius: 5px;
    font-family: monospace;
    font-weight: bold;
}

#botonDefinir:hover{
    background-color: #9BA4B5;
}

#botonDefinir:active{
    background-color: #212A3E;
    color: white;
}

#botonCalcular {
    border-radius: 5px;
    font-family: monospace;
    font-weight: bold;
}

#botonCalcular:hover{
    background-color: #9BA4B5;
}

#botonCalcular:active{
    background-color: #212A3E;
    color: white;
}

#botonReiniciar {
    border-radius: 5px;
    font-family: monospace;
    font-weight: bold;
}

#botonReiniciar:hover{
    background-color: #9BA4B5;
}

#botonReiniciar:active{
    background-color: #212A3E;
    color: white;
}

.elementoListaSubredes li{
    color: white;
    list-style: none;
    width: 80%;
}

li {
    list-style: none;

}

.id-cuadroRedesCalculadas {
    background-color: #212A3E;
    border-radius: 5px;
}

#id-listaRedesCalculadas {
    display: inline-block;
    padding-left: -10px;
}

#cabeceraListaSubredes {
    color: white;
    display: inline-block;
}

.elementoListaSubredes {
    border: 2px solid black;
    color: white;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 93%;
}
